

#topBanner{
	display: flex;
}

#banner{
	width: 100%;
	position: relative;
}

#logo{
	width: 30%;
	transform: translate(1, -30%);
}

#menuIcon{
	width: 2%;
}
#signInIcon{
	width: 5%;
}

h1{
	font-family: 'Dancing Script', cursive;
	position: absolute;
	font-size: 500%;
	transform: translate(25%,500%);

}

h2{
	font-size: 200%;
	padding: 20px;
}

p{
	font-size: 150%;
	color: violet;
}

a{
	text-decoration: none;
}

.character{
	height: 250px;
	width: 250px;
	border-radius: 50px;
	object-fit: contain;
}

li{
	list-stlye-type: none;
	padding: 10px;
}

#logo, #topBanner > div, h1, #topBanner > h2 { 
	position: absolute;
 }

 #topBanner > div{
 	transform: translate(130%, 60%); 
 }

 #topBanner > h2{
 	transform: translate(35%, 300%);
 	background-color: white;
 	barder-radius: 50px;
 	padding: 5px;
 }

 #cards{
 	display: flex;
 	justify-content: space-evenly;
 }

#navigationMenu{
	display: flex;
	justify-content: space-evenly;
}